In [11]:
import pandas as pd

url = "https://raw.githubusercontent.com/GWC-DCMB/CapstoneProject/main/datasets/tesla/Tesla_Deaths.csv"
df = pd.read_csv(url)
df.head()

,Year,Date,Country,State,Description,Deaths,Tesla_driver,Tesla_occupant,Other_vehicle,Cyclists_Peds,...,Model,AutoPilot_claimed,Verified_Tesla_Autopilot_Death,Source,FARS_NHTSA_case_filing,Note,Deceased 1,Deceased 2,Deceased 3,Deceased 4
0,2021,1/22/2021,USA,AZ,"Tesla crashes into tree,occupants killed",2,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,https://www.azcentral.com/story/news/local/pho...,NaN,NaN,NaN,NaN,NaN,NaN
1,2021,1/21/2021,USA,CO,"Tesla hits car and car crashes,driver later d...",1,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,https://www.kktv.com/2021/01/20/man-dies-from-...,NaN,NaN,NaN,NaN,NaN,NaN
2,2021,1/15/2021,USA,FL,"Head-on collision involving a Tesla,other dri...",1,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,https://www.actionnewsjax.com/news/local/st-jo...,NaN,NaN,NaN,NaN,NaN,NaN
3,2021,1/10/2021,USA,UT,"Car collides with Tesla,both drivers die",2,1.0,NaN,1.0,NaN,...,NaN,NaN,NaN,https://www.deseret.com/utah/2021/1/10/2222429...,NaN,NaN,NaN,NaN,NaN,NaN
4,2020,12/18/2020,Portugal,NaN,Tesla driver crashes into pole and dies in res...,1,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,https://www.jn.pt/local/noticias/porto/felguei...,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
import matplotlib.pyplot as plt
import numpy as np
import matplotlib as mpl